/* 
    Document   : style
    Created on : Sep 23, 2013, 6:37:14 PM
    Author     : idbratt
    Description:
        Purpose of the stylesheet follows.
*/

/* CSS Document */  
body {  
    font:12px arial;  
    color: #222;  
    text-align:center;  
    padding:35px; }  
   
form, p, span {  
    margin:0;  
    padding:0; }  
   
input { font:12px arial; }  
   
a {  
    color:#0000FF;  
    text-decoration:none; }  
   
    a:hover { text-decoration:underline; }  
   
#wrapper, #loginform {  
    margin:0 auto;  
    padding-bottom:25px;  
    background:#EBF4FB;  
    width:615px;  
    border:1px solid #ACD8F0; }
   
#chatbox {  
    float: left;
    text-align:left;  
    margin:10px;  
    margin-bottom:25px;  
    padding:10px;  
    background:#fff;  
    height:270px;  
    width:430px;  
    border:1px solid #ACD8F0;  
    overflow:auto; }  
   
#userbox {  
    float: right;
    text-align:left;  
    margin:10px;  
    margin-bottom:25px;  
    padding:10px;  
    background:#fff;  
    height:270px;  
    width:100px;  
    border:1px solid #ACD8F0;  
    overflow:auto; } 
   
#menu { padding:12.5px 25px 12.5px 25px; }
